.break {
  color: #0F62FE;
  display: flex;
  flex-direction: row;
  flex-grow: 1;
  justify-content: space-between;
}

:host {
  font-family: "Helvetica Neue", Arial, Helvetica, sans-serif;
  display: flex;
  flex-direction: row;
  position: relative;
}

app-icon {
  flex-basis: 0;
}

.content {
  display: flex;
  flex-direction: column;
  flex-basis: 0;
  flex-grow: 1;
}
.break-label, .break-value {
  text-align: center;
  line-height: 50px;
  font-size: 14pt;
}
.break-value {
  font-weight: bold;
}

.line1 {
  position: absolute;
  left: 42px;
  top: 0;
  margin-top: -25px;
  height: 44px;
  width: 3px;
  background-color: black;
}
.line2 {
  position: absolute;
  left: 42px;
  top: 0;
  margin-top: 70px;
  height: 44px;
  width: 3px;
  background-color: black;
}
