:host {
  display: flex;
  flex-grow: 1;
}
.map-container {
  display: flex;
  position: relative;
  margin: 20px;
  flex-grow: 1;
  height: 100%;
}

.map-frame {
  border: 2px solid black;
  height: 100%;
  flex-grow: 1;
}

#map {
  height: 100%;
}

