<div class="card">
  <app-icon color="#F4F4F4" icon="gas-station"></app-icon>
  <div class="content">
    <div class="label">
      <span>Recommended stop</span>
      <app-badge color="#CCE2FF" text="< 1min ago"></app-badge></div>
    <div class="destination">
      <span class="dest-label">Autohof Müller</span>
      <span class="dest-value">369km | 04:30</span>
    </div>
    <div class="rating">
      <span class="rating-label">Parting availibility:</span>
      <span class="rating-value">Yes</span>
    </div>
    <div class="rating">
      <span class="rating-label">Community rating:</span>
      <span class="rating-value">
        <img src="assets/star--filled_green.svg" style="color: #42BE65"/>
        <img src="assets/star--filled_green.svg" style="color: #42BE65"/>
        <img src="assets/star--filled_green.svg" style="color: #42BE65"/>
        <img src="assets/star--filled_green.svg" style="color: #42BE65"/>
        <img src="assets/star--empty_green.svg" style="color: #42BE65"/>
      </span>
    </div>
    <div class="button-bar">
      <ibm-button-set>
        <button ibmButton="secondary">Details</button>
        <button ibmButton="primary">Add to route</button>
      </ibm-button-set>
    </div>
  </div>
</div>
<div class="line1"></div>
<div class="line2"></div>
<app-icon color="#000" icon="cursor--white" class="cursor" customCss="margin-left: -3px"></app-icon>
